/* ==========================================================================
   Pop-up
========================================================================== */

#evg-exit-intent-popup-email-capture {
    position: relative;
    z-index: 10000000;
}

#evg-exit-intent-popup-email-capture .evg-overlay {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    opacity: .3;
    width: 100%;
    height: 100%;
    background-color: #000;
}

#evg-exit-intent-popup-email-capture .evg-popup {
    position: fixed;
    top: 50%;
    left: 50%;
    width: 500px;
    height: 500px;
    padding: 20px;
    background-color: #fff;
    background-position: center bottom;
    background-size: cover;
    background-repeat: no-repeat;
    transform: translateX(-50%) translateY(-50%);
}

#evg-exit-intent-popup-email-capture .evg-btn-dismissal {
    position: absolute;
    top: 0;
    right: 0;
    padding: 0 .5rem;
    border: 1px solid transparent;
    background-color: transparent;
    font-size: 2rem;
    font-weight: 700;
    line-height: 1;
    cursor: pointer;
}

#evg-exit-intent-popup-email-capture .evg-main-panel,
#evg-exit-intent-popup-email-capture .evg-confirm-panel {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;

    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;

    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;

    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;

    width: 100%;
    height: 100%;
    text-align: center;
}

#evg-exit-intent-popup-email-capture .evg-confirm-header {
    display: inline-block;
    margin: 0 0 .5rem;
}

#evg-exit-intent-popup-email-capture .evg-confirm-subheader {
    display: inline-block;
    margin: 0 0 .5rem;
}

#evg-exit-intent-popup-email-capture .evg-opt-out-msg {
    font-size: 1rem;
    text-decoration: underline;
    cursor: pointer;
}

/* ==========================================================================
   Form
========================================================================== */

#evg-exit-intent-popup-email-capture .evg-form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;

    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;

    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;

    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;

    width: 100%;
    text-align: center;
}

#evg-exit-intent-popup-email-capture .evg-email {
    width: 75%;
    margin: .5rem 0;
    padding: .5rem 1rem;
    border: 1px solid #ddd;
    color: #59575c;
}

/* ==========================================================================
   Headers
========================================================================== */

#evg-exit-intent-popup-email-capture .evg-h1,
#evg-exit-intent-popup-email-capture .evg-h2 {
    margin: 0 0 .5rem;
    padding: 0;
    color: inherit;
    font-weight: 500;
    font-family: inherit;
    line-height: 1.2;
}

#evg-exit-intent-popup-email-capture .evg-h1.evg-display-4 {
    font-size: 3.5rem;
    font-weight: 700;
    line-height: 1.2;
}

#evg-exit-intent-popup-email-capture .evg-h2 {
    font-size: 1.5rem;
}

/* ==========================================================================
   Call-To-Action Button
========================================================================== */

#evg-exit-intent-popup-email-capture .evg-btn {
    display: inline-block;
    vertical-align: middle;
    padding: .5rem 1rem;
    border: 1px solid transparent;
    border-radius: 3rem;
    color: #215ca0;
    background-color: transparent;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    text-align: center;
    text-decoration: none;
    transition:
        color .15s ease-in-out,
        background-color .15s ease-in-out,
        border-color .15s ease-in-out,
        box-shadow .15s ease-in-out;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

#evg-exit-intent-popup-email-capture .evg-btn-primary {
    border-color: #215ca0;
    color: #fff;
    background-color: #215ca0;
    transition: background-color .15s, color .15s;
}

#evg-exit-intent-popup-email-capture .evg-btn-lg {
    padding: .5rem 2rem;
    font-size: 1.25rem;
}

#evg-exit-intent-popup-email-capture .evg-cta {
    margin: .5rem 0;
}

/* ==========================================================================
   Error Message
========================================================================== */

#evg-exit-intent-popup-email-capture .evg-error-msg {
    color: #ff0000;
    font-size: 1rem;
}

/* ==========================================================================
   Style
========================================================================== */

#evg-exit-intent-popup-email-capture .evg-style-bg.evg-light-on-dark {
    background-color: #343a40;
}

#evg-exit-intent-popup-email-capture .evg-style-bg.evg-dark-on-light {
    background-color: #fff;
}

#evg-exit-intent-popup-email-capture .evg-style-text.evg-light-on-dark {
    color: #fff;
}

#evg-exit-intent-popup-email-capture .evg-style-text.evg-dark-on-light {
    color: #343a40;
}

/* ==========================================================================
   Visibility
========================================================================== */

#evg-exit-intent-popup-email-capture .evg-hide {
    visibility: hidden;
    display: none;
    width: 0;
    height: 0;
}

/* ==========================================================================
   Media Queries
========================================================================== */

@media screen and (max-height: 500px) {
    #evg-exit-intent-popup-email-capture .evg-popup {
        height: 90vh;
    }
}

@media screen and (max-width: 575px) {
    #evg-exit-intent-popup-email-capture .evg-popup {
        width: 90vw;
    }

    #evg-exit-intent-popup-email-capture .evg-h1.evg-display-4 {
        font-size: 2.75rem;
    }

    #evg-exit-intent-popup-email-capture .evg-h2 {
        font-size: 1.2rem;
    }

    #evg-exit-intent-popup-email-capture .evg-btn-lg {
        font-size: 1rem;
    }

    #evg-exit-intent-popup-email-capture .evg-error-msg,
    #evg-exit-intent-popup-email-capture .evg-opt-out-msg {
        font-size: .85rem;
    }
}