/* ==========================================================================
   Slide-In
========================================================================== */

#evg-slide-in-with-cta {
    position: fixed;
    z-index: 1000000;
    top: auto !important;
    right: 5%;
    bottom: 10vh !important;
    left: auto;
    width: 300px;
    height: 300px;
    border: 1px solid #000;
    color: #fff;
    background-color: #000;
    font-family: inherit;
    animation-name: slideInDesktopMessage;
    animation-duration: 3s;
}

#evg-slide-in-with-cta .evg-slide-in {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    min-height: 1px;
}

#evg-slide-in-with-cta .evg-header,
#evg-slide-in-with-cta .evg-subheader,
#evg-slide-in-with-cta .evg-cta {
    display: block;
    max-width: 90%;
    height: fit-content;
    text-align: center;
}

/* ==========================================================================
   Headers
========================================================================== */

#evg-slide-in-with-cta .evg-header,
#evg-slide-in-with-cta .evg-subheader {
    margin-bottom: .5rem;
}

#evg-slide-in-with-cta .evg-header {
    font-size: 1.75rem;
    line-height: 1.75rem;
}

#evg-slide-in-with-cta .evg-subheader {
    font-size: 1.5rem;
    font-weight: 300;
    line-height: 1.5rem;
}

/* ==========================================================================
   Call-To-Action Button
========================================================================== */

#evg-slide-in-with-cta .evg-btn {
    vertical-align: middle;
    margin-top: 1rem;
    padding: .5rem 1rem;
    border: 1px solid transparent;
    border-radius: 3rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    text-align: center;
    text-decoration: none;
    transition:
        color .15s ease-in-out,
        background-color .15s ease-in-out,
        border-color .15s ease-in-out,
        box-shadow .15s ease-in-out;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

#evg-slide-in-with-cta .evg-btn-primary {
    border-color: #fff;
    color: #000;
    background-color: #fff;
    transition: background-color .15s, color .15s;
}

#evg-slide-in-with-cta .evg-cta:hover {
    text-decoration: none;
}

#evg-slide-in-with-cta .evg-btn-dismissal {
    position: absolute;
    top: 0;
    right: 0;
    padding: 0 .5rem;
    border: 1px solid transparent;
    color: #fff;
    background-color: transparent;
    font-size: 2rem;
    font-weight: 700;
    line-height: 1;
    cursor: pointer;
}

/* ==========================================================================
   Style
========================================================================== */

#evg-slide-in-with-cta.evg-dark-on-light {
    background-color: #fff;
}

#evg-slide-in-with-cta.evg-light-on-dark {
    background-color: #000;
}

#evg-slide-in-with-cta .evg-light-on-dark,
#evg-slide-in-with-cta .evg-cta.evg-dark-on-light {
    color: #fff;
    background-color: #000;
}

#evg-slide-in-with-cta .evg-dark-on-light,
#evg-slide-in-with-cta .evg-cta.evg-light-on-dark {
    color: #000;
    background-color: #fff;
}

/* ==========================================================================
   Media Queries
========================================================================== */

@media only screen and (max-width: 767px) {
    #evg-slide-in-with-cta {
        animation-duration: 2s;
    }

    #evg-slide-in-with-cta .evg-header {
        font-size: 1.25rem;
    }

    #evg-slide-in-with-cta .evg-subheader {
        font-size: 1.1rem;
    }
}

@media only screen and (max-width: 420px) {
    #evg-slide-in-with-cta {
        right: calc((100vw - 300px) / 2);
        animation-name: slideInMobileMessage;
        animation-duration: 1.5s;
    }
}

/* ==========================================================================
   Keyframes
========================================================================== */

@keyframes slideInDesktopMessage {
    from {
        right: -90%;
    }

    to {
        right: 5%;
    }
}

@keyframes slideInMobileMessage {
    from {
        right: -90%;
    }

    to {
        right: calc((100vw - 300px) / 2);
    }
}