#mcis-manual-promotion-selector {
    text-align: center;
}

#mcis-manual-promotion-selector .mcis-promotion-link,
#mcis-manual-promotion-selector .mcis-promotion-img {
    max-width: 100%;
}

#mcis-manual-promotion-selector .mcis-promotion-img {
    object-fit: contain;
}