/* ==========================================================================
   Infobar with User Attribute
========================================================================== */

#evg-infobar-with-user-attr {
    position: fixed;
    z-index: 100000;
    left: 0;

    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;

    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-flow: row nowrap;
    flex-flow: row nowrap;

    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;

    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;

    box-sizing: border-box;
    width: 100%;
    height: 2.5rem;
    text-align: center;
}

#evg-infobar-with-user-attr .evg-message {
    display: inline-block;
    vertical-align: middle;
    margin-bottom: 0;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1;
}

#evg-infobar-with-user-attr .evg-infobar {
    display: inline;
}

#evg-infobar-with-user-attr .evg-btn-dismissal {
    position: absolute;
    top: 0;
    right: 0;
    padding: 0 .5rem;
    border: 1px solid transparent;
    background-color: transparent;
    font-size: 2rem;
    font-weight: 700;
    line-height: 1;
    cursor: pointer;
}

/* ==========================================================================
   Infobar Position
========================================================================== */

#evg-infobar-with-user-attr.evg-infobar-top {
    top: 0;
}

#evg-infobar-with-user-attr.evg-infobar-bottom {
    bottom: 0;
}

/* ==========================================================================
   Call-To-Action Link
========================================================================== */

#evg-infobar-with-user-attr .evg-cta {
    display: inline-block;
    vertical-align: middle;
    margin-left: 10px;
    font-size: 1rem;
}

/* ==========================================================================
   Style
========================================================================== */

#evg-infobar-with-user-attr.evg-light-on-dark {
    color: #fff;
    background-color: #343a40;
}

#evg-infobar-with-user-attr.evg-dark-on-light {
    color: #343a40;
    background-color: #f8f8f8;
}

#evg-infobar-with-user-attr .evg-cta.evg-light-on-dark {
    color: #6dccee;
}

#evg-infobar-with-user-attr .evg-cta.evg-dark-on-light {
    color: #17a2b8;
}

#evg-infobar-with-user-attr .evg-btn-dismissal.evg-light-on-dark {
    color: #fff;
}

#evg-infobar-with-user-attr .evg-btn-dismissal.evg-dark-on-light {
    color: #343a40;
}